@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Nunito:wght@200;300;400;500;600&family=Open+Sans:wght@300;400;500;600&display=swap');
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  
  --Primary-100: #FDF9FF;
  --Primary-700: #7C2C89;
  --white-secondary-100: #F7F7F7;
  
  --md-btn-padding: 10px 32px;
  --XS: 8px;
  --SM: 16px;
  font-family: 'Inter', 'Nunito' 'Open Sans' system-ui, 'Avenir', Helvetica, Arial, sans-serif; 

  
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}
body{
  max-height: 100vh;
  /* overflow-y: hidden; */
}
/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--Primary-700, pink);
  cursor: pointer;

  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
.body{
  padding: 20px;
  margin-top: 80px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.input-label{
  display: flex;
  flex-direction: column;
}


/* availability */
/* .availability-container{

} */

/* >>>>>>>> */
/* Profile  */
/* >>>>>>>> */
.profile-content{
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-top: 32px;
}
.profile-flex-container{
  display: flex;
  align-items: center;
  gap: 48px;
}
.upload-section{
  display: flex;
  align-items: center;
  gap: 48px;
  margin-top: 32px;
}
.upload-item{
  display: flex;
  align-items: center;
  gap: 8px;
}


/* panel */
.panel-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

/* Modal Content */
.modal-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.link-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background: #F8F8F8;
  border-radius: 8px;
  cursor: pointer;
  color: #383838;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
}

/* Calendar */
/* .rbc-calendar{
  height: 100%;
} */

.rbc-time-gutter{
  min-width: 75.35px;
}

.rbc-label{
  color: var(--greys-primary-600, #515151);
/* Body/Paragraph (Medium) */
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  letter-spacing: 0.272px;
}

.rbc-toolbar-label{
  color: #000;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* .rbc-time-header-content{
  position: relative;
}
.rbc-row .rbc-time-header-cell{
  position: absolute;
  bottom: 0;
} */